# Challenge 1 - Tic Tac Toe

In this lab you will perform deep learning analysis on a dataset of playing [Tic Tac Toe](https://en.wikipedia.org/wiki/Tic-tac-toe).

There are 9 grids in Tic Tac Toe that are coded as the following picture shows:

![Tic Tac Toe Grids](tttboard.jpg)

In the first 9 columns of the dataset you can find which marks (`x` or `o`) exist in the grids. If there is no mark in a certain grid, it is labeled as `b`. The last column is `class` which tells you whether Player X (who always moves first in Tic Tac Toe) wins in this configuration. Note that when `class` has the value `False`, it means either Player O wins the game or it ends up as a draw.

Follow the steps suggested below to conduct a neural network analysis using Tensorflow and Keras. You will build a deep learning model to predict whether Player X wins the game or not.

## Step 1: Data Engineering

This dataset is almost in the ready-to-use state so you do not need to worry about missing values and so on. Still, some simple data engineering is needed.

1. Read `tic-tac-toe.csv` into a dataframe.
1. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.
1. Convert the categorical values to numeric in all columns.
1. Separate the inputs and output.
1. Normalize the input data.

In [19]:
import pandas as pd
import numpy as np

In [20]:
ttt=pd.read_csv('tic-tac-toe.csv')

In [21]:
ttt.head()

  TL TM TR ML MM MR BL BM BR  class
0  x  x  x  x  o  o  x  o  o   True
1  x  x  x  x  o  o  o  x  o   True
2  x  x  x  x  o  o  o  o  x   True
3  x  x  x  x  o  o  o  b  b   True
4  x  x  x  x  o  o  b  o  b   True

In [22]:
ttt.dtypes

TL       object
TM       object
TR       object
ML       object
MM       object
MR       object
BL       object
BM       object
BR       object
class      bool
dtype: object

In [23]:
for i in ttt.columns:
    print('\n--', i, '--\n')
    print(ttt[i].value_counts())

-- TL --

x    418
o    335
b    205
Name: TL, dtype: int64

-- TM --

x    378
o    330
b    250
Name: TM, dtype: int64

-- TR --

x    418
o    335
b    205
Name: TR, dtype: int64

-- ML --

x    378
o    330
b    250
Name: ML, dtype: int64

-- MM --

x    458
o    340
b    160
Name: MM, dtype: int64

-- MR --

x    378
o    330
b    250
Name: MR, dtype: int64

-- BL --

x    418
o    335
b    205
Name: BL, dtype: int64

-- BM --

x    378
o    330
b    250
Name: BM, dtype: int64

-- BR --

x    418
o    335
b    205
Name: BR, dtype: int64

-- class --

True     626
False    332
Name: class, dtype: int64

In [24]:
from sklearn.preprocessing import LabelEncoder
ttt=ttt.apply(LabelEncoder().fit_transform)

In [25]:
ttt

     TL  TM  TR  ML  MM  MR  BL  BM  BR  class
0     2   2   2   2   1   1   2   1   1      1
1     2   2   2   2   1   1   1   2   1      1
2     2   2   2   2   1   1   1   1   2      1
3     2   2   2   2   1   1   1   0   0      1
4     2   2   2   2   1   1   0   1   0      1
..   ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
953   1   2   2   2   1   1   1   2   2      0
954   1   2   1   2   2   1   2   1   2      0
955   1   2   1   2   1   2   2   1   2      0
956   1   2   1   1   2   2   2   1   2      0
957   1   1   2   2   2   1   1   2   2      0

[958 rows x 10 columns]

## Step 2: Build Neural Network

To build the neural network, you can refer to your own codes you wrote while following the [Deep Learning with Python, TensorFlow, and Keras tutorial](https://www.youtube.com/watch?v=wQ8BIBpya2k) in the lesson. It's pretty similar to what you will be doing in this lab.

1. Split the training and test data.
1. Create a `Sequential` model.
1. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
1. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.
1. Fit the training data.
1. Evaluate your neural network model with the test data.
1. Save your model as `tic-tac-toe.model`.

In [26]:
ttt.columns

Index(['TL', 'TM', 'TR', 'ML', 'MM', 'MR', 'BL', 'BM', 'BR', 'class'], dtype='object')

In [27]:
x_cols=['TL', 'TM', 'TR', 'ML', 'MM', 'MR', 'BL', 'BM', 'BR']
x=ttt[x_cols]
y=ttt['class']

In [88]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
y1_train = to_categorical(y_train)
y1_test = to_categorical(y_test)

In [89]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [105]:
model = Sequential()

model.add(Dense(500, activation='relu', input_dim=9))
model.add(Dense(500, activation='relu'))
model.add(Dense(300, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(50, activation='relu'))
model.add(Dense(2, activation='softmax'))

model.compile(optimizer='adam', 
              loss='sparse_categorical_crossentropy')

In [106]:
model.fit(x_train, y_train, epochs=20)

Epoch 1/20
24/24 [==============================] - 0s 4ms/step - loss: 0.6385
Epoch 2/20
24/24 [==============================] - 0s 5ms/step - loss: 0.5820
Epoch 3/20
24/24 [==============================] - 0s 6ms/step - loss: 0.5250
Epoch 4/20
24/24 [==============================] - 0s 5ms/step - loss: 0.4446
Epoch 5/20
24/24 [==============================] - 0s 5ms/step - loss: 0.3628
Epoch 6/20
24/24 [==============================] - 0s 6ms/step - loss: 0.3496
Epoch 7/20
24/24 [==============================] - 0s 5ms/step - loss: 0.2960
Epoch 8/20
24/24 [==============================] - 0s 5ms/step - loss: 0.2149
Epoch 9/20
24/24 [==============================] - 0s 5ms/step - loss: 0.1937
Epoch 10/20
24/24 [==============================] - 0s 6ms/step - loss: 0.1294
Epoch 11/20
24/24 [==============================] - 0s 5ms/step - loss: 0.1422
Epoch 12/20
24/24 [==============================] - 0s 5ms/step - loss: 0.1669
Epoch 13/20
24/24 [==============================] - 0s 6ms/step - loss: 0.0722
Epoch 14/20
24/24 [==============================] - 0s 5ms/step - loss: 0.0309
Epoch 15/20
24/24 [==============================] - 0s 6ms/step - loss: 0.0119
Epoch 16/20
24/24 [==============================] - 0s 7ms/step - loss: 0.0229
Epoch 17/20
24/24 [==============================] - 0s 7ms/step - loss: 0.0223
Epoch 18/20
24/24 [==============================] - 0s 6ms/step - loss: 0.0087
Epoch 19/20
24/24 [==============================] - 0s 6ms/step - loss: 0.0061
Epoch 20/20
24/24 [==============================] - 0s 6ms/step - loss: 0.0542

## Step 3: Make Predictions

Now load your saved model and use it to make predictions on a few random rows in the test dataset. Check if the predictions are correct.

In [61]:
score = model.evaluate(x_test, y_test, verbose=0)
print(f'Test loss: {score[0]} / Test accuracy: {score[1]}')

Test loss: 0.33445295691490173 / Test accuracy: 0.9479166865348816

In [99]:
y.iloc[4:10]

4    1
5    1
6    1
7    1
8    1
9    1
Name: class, dtype: int64

In [100]:
x.iloc[4:10]

   TL  TM  TR  ML  MM  MR  BL  BM  BR
4   2   2   2   2   1   1   0   1   0
5   2   2   2   2   1   1   0   0   1
6   2   2   2   2   1   0   1   1   0
7   2   2   2   2   1   0   1   0   1
8   2   2   2   2   1   0   0   1   1
9   2   2   2   2   0   1   1   1   0

In [107]:
pred_4=model.predict(x.iloc[4:10])

In [108]:
np.around(pred_4)

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.]], dtype=float32)

## Step 4: Improve Your Model

Did your model achieve low loss (<0.1) and high accuracy (>0.95)? If not, try to improve your model.

But how? There are so many things you can play with in Tensorflow and in the next challenge you'll learn about these things. But in this challenge, let's just do a few things to see if they will help.

* Add more layers to your model. If the data are complex you need more layers. But don't use more layers than you need. If adding more layers does not improve the model performance you don't need additional layers.
* Adjust the learning rate when you compile the model. This means you will create a custom `tf.keras.optimizers.Adam` instance where you specify the learning rate you want. Then pass the instance to `model.compile` as the optimizer.
    * `tf.keras.optimizers.Adam` [reference](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam).
    * Don't worry if you don't understand what the learning rate does. You'll learn about it in the next challenge.
* Adjust the number of epochs when you fit the training data to the model. Your model performance continues to improve as you train more epochs. But eventually it will reach the ceiling and the performance will stay the same.

In [ ]:
# your code here

**Which approach(es) did you find helpful to improve your model performance?**

In [ ]:
# I have already added more layers to obtain a better accuracy.